/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

h1, h2, h3 {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header */
header {
  background-color: #1a1a1a;
  color: white;
  padding: 20px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 h2 {
  font-size: 24px;
  font-weight: 600;
}

nav ul {
  display: flex;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: #fff;
  font-size: 18px;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ff4081;
}

/* Content */

#project-description{
  font-size: 1.5em;
}

/* Footer */
footer {
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 60px;
}

.site {
  min-height: 79.1vh;
}

.project-image {
  width: 90%;
  max-width: 1000px;
  display: block;
  margin: auto;
  border-radius: 10px; 
}


/* bouton de fermeture des détails du projet / stage */
.close-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 24px;
  text-decoration: none;
  color: #1a1a1a;
  cursor: pointer;
  z-index: 1000;
}
.close-btn:hover {
  color: red;
}