/* Reset des marges par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  section {
    padding: 20px;
    margin: 20px 0;
  }
  
  #about {
    background-color: #f4f4f4;
  }
  
  #projects {
    background-color: #e2e2e2;
  }
  
  .project {
    margin-bottom: 15px;
  }
  
  #contact {
    background-color: #f9f9f9;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  form button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #555;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
  }
  