footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
footer p,footer a {
    font-size: 1.3em;
    color: white;
    text-decoration: none;
}
body {
    margin:0px;
}
header {
    text-align: center;
}

#projets div {
    margin: 5px;
    display: block;
    border: 2px solid black;
    border-radius: 2px;
}

#h1 {
    font-size: 1.3em;
    font-weight: bold;
    color: #333;
    width: 99%;
    border: 0px;
    text-align: center;
}

#h1:focus {
    outline: none;
}

#CarboneIUT {
    display: none;
}
/* chaque projet est caché en utilisant ces deux ID */
#cacheSection1 , #cacheSection2, #cacheSection3 {
    display: none;
    transform: translateY(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
#afficheSection {
    display: block;
    transform: translateY(0);
}

#projets {
    display: flex; 
    justify-content: space-between;
    width: 95%; 
    height: 200px;
}
    #projets div {
        position: relative;
        flex: 1;
        align-items: center;
        text-align: center;
        margin-right: 10%;
        margin-left: 10%;
    }
        #projets div img {
            height: 100%;
        }